* {
  margin: 0;
  box-sizing: border-box;
}

.contenedor {
  width: 600px;
  height: 600px;
  background-color: #e8ffe8;
  border: 1px solid #80ff80;
}

.contenido {
  width: calc(100% - 120px);
  height: calc(100% - 120px);
  background-color: #e8e8ff;
  border: 1px solid #8080ff;
  margin-left: 60px;
  margin-top: 60px;
}
