* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

/* header */
.encabezado {
  background-color: black;
  overflow: hidden;
}

/* header img */
.logo {
  float: left;
  width: 120px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* header ul */
.navegacion {
  float: right;
  list-style-type: none;
  overflow: hidden;
  margin-right: 20px;
  margin-top: 19px;
}

/* header ul li */
.item-navegacion {
  float: left;
  padding: 4px 12px;
  font-size: 20px;
}

/* header ul li a */
.link-navegacion {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/* header ul li a:hover */
.link-navegacion:hover {
  color: orange;
}

/* main */
main {
  background-image: url(../img/fondoSeccion.jpg);
  background-size: cover;
  height: 800px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

main p {
  height: 300px;
}

main h2 {
  font-size: 30px;
}

main h1 {
  font-size: 60px;
}

main a {
  display: block;
  color: white;
  background-color: orange;
  text-decoration: none;
  width: 240px;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 9px;
  font-size: 20px;
}

main a:hover {
  background-color: #ff8000;  
}

#servicios p {
  height: 150px;
}

#servicios h2,
#portfolio h2,
#equipo h2,
#contacto h2 {
  font-size: 40px;
}

#servicios h4,
#portfolio h4,
#equipo h4,
#contacto h4 {
  font-size: 24px;
  font-style: italic;
}

/* #servicios */
#servicios {
  height: 800px;
  text-align: center;
}

/* #servicios div */
.articulos {
  overflow: hidden;
  width: 90%;
  margin: 60px auto 0 auto;
}

/* #servicios div article */
.servicio {
  float: left;
  width: 28%;
  margin: 0 2.5%;
}

/* #servicios div article div */
.borde-circular
{
  width: 130px;
  height: 130px;
  border: 3px solid orange;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

/* #servicios div article div i */
.icono
{
  font-size: 72px;
  color: orange;
  padding-top: 24px;
}

#portfolio {
  text-align: center;
  padding: 80px 5%;
  background-color: #c0c0c0;
}

#equipo {
  text-align: center;
  padding: 80px 15%;
  background-color: white;
}

#portfolio div,
#equipo div {
  margin-top: 40px;
  overflow: hidden;
}

#portfolio article {
  width: 30%;
  margin-right: 5%;
  margin-bottom: 30px;
  background-color: white;
  float: left;
}

#equipo article {
  width: 26%;
  margin-right: 11%;
  margin-bottom: 30px;
  float: left;
}

#portfolio article:nth-child(3n),
#equipo article:nth-child(3n) {
  margin-right: 0;
}

#portfolio article img {
  width: 100%;
  height: auto;
}

#equipo article img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 6px #505050;
  border-radius: 50%;
}

#portfolio article h4,
#equipo article h4 {
  font-style: normal;
}

#equipo article h4 {
  margin-top: 12px;
}

#portfolio article p,
#equipo article p {
  color: #808080;
  line-height: 1.2em;
  margin: 5px 0 15px 0;
}

/* #contacto */
#contacto {
  height: 800px;
  text-align: center;
  background-image: url(../img/map-image.png);
  background-position: center;
  background-size: cover;
  background-color: #aaa;
}

#contacto h2 {
  text-transform: uppercase;
  padding-top: 100px;
}

#contacto h4 {
  padding-bottom: 40px;
}

#contacto p {
  margin-top: 12px;
}

.form-container {
  width: 600px;
  margin: 0 auto;
}

.form-container input,
.form-container textarea,
.form-container select {
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 18pt;
}

.form-container button {
  background-color: #0060C0;
  border: 1px solid #0000A0;
  border-radius: 8px;
  padding: 6px 24px;
  font-size: 18pt;
  color: #D0D0D0;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0050B0;
}

.form-container button:active {
  background-color: #4060C0;
}
